.*.swp
*~
*.tmp
*.dep
*.rej
*.orig
.nfs*
*.DS_Store
*deb
*tar.gz
.vscode
core
ipmimex
ipmilist

# Prerequisites
*.d

# Object files
*.o
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib
